/* RESET CSS */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
html, body{
    width: 100%;
    height: 100%;
}

/* INDEX CONTAINER */
.index__container{
display:grid;
grid-template-columns: auto;
grid-template-rows: 7% 86% 7%;
grid-template-areas:
"header"
"main"
"footer"
;
}

/* INDEX HEADER */
.index__header{
    grid-area:header;
    width: 100%;
display:flex;
justify-content: space-between;
align-items: center;
background-color: rgb(68, 0, 0);
}

.index__header a{
    text-decoration: none;
}
.header__logo{
    display:flex;
    justify-content: start;
    align-items: center;
    width: 40%;
margin-left:10px;
}
.header__logo a{
    transition:1s;
}
.header__logo a:hover{
    color:black;
    transition:1s;
}
.header__nav{
    width: 30%;
}
.header__nav ul{
display:flex;
justify-content: space-between;
width: 100%;
}
.header__nav ul{
list-style: none;
}
.header__nav ul li a{
    transition:1s;
}
.header__nav ul li a:hover{
    color:black;
    transition:1s;
}
.header__logo a, .header__nav ul li a{
color:white;
font-weight: 600;
}
#acpd{
    margin-right:5px;
    padding:5px;
    border:1px solid rgb(255, 74, 74);
    border-radius:5px;
    transition:1s;
}
#acpd:hover{
    background:white;
    color:rgb(68, 0, 0);
    transition:1s;
    border:1px solid rgb(0, 0, 0)
}
/* INDEX MAIN */
.index__main{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-area:main;
background-color:rgb(223, 223, 223);
}
.main__container-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.main__container-1 h3{
    font-size:24px;
    font-family: sans-serif;
    font-weight: 500;
}
.main__container-1 button{
    transform: translateY(30px);
    border:1px solid black;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}
.main__container-1 button:hover{
 transition: 1s;
    background-color: rgb(255, 204, 204);   
}
.main__container-2{
    height: 10%;
    width: 50%;
    display:flex;
    justify-content: center;
}
.main__container-2 img{
    width: 75px;
    animation-name: logomain;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes logomain {
0%{}
25%{transform: translateX(100px);}
50%{transform: translateX(100px) translateY(100px);}
75%{transform: translateY(100px);}
100%{}
}
/* INDEX FOOTER */
.index__footer{
grid-area:footer;
background-color: rgb(53, 0, 0);
display:flex;
align-items: center;
justify-content: center;
}
.index__footer p{
    color:white;
}

/* FAQ HTML */

/* FAQ CONTAINER */
.faq__container{
    background-color:rgb(223, 223, 223);
}

/* FAQ MAIN */
.faq__main{
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-area:main;
background-color:rgb(223, 223, 223);
}
.main__tittle{
    margin-top:10px;
    width: 80%;
    border-radius:15px;
    background-color: rgb(53, 0, 0);
    display: block;
    padding:32px;
color:rgb(255, 255, 255);
}
.cards{
    margin-top:100px;
    display: flex;
    gap: 100px;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    width: 300px;
    height: 300px;
    background-color: rgba(68, 0, 0, 1);
    transition: 1s;
}
.card h2, p{
    margin-top:0px;
}
.card:hover{
    transition: 1s;
    
    background-color: rgba(68, 0, 0, 0);
}
.card h2{
    font-size:16px;
    color:rgb(139, 139, 139);
}
.card p{
    color:rgb(68, 0, 0)
}

.main__container-faq{
    display:flex;
    height: 10%;
    width: 100%;
    display:flex;
    justify-content: center;
}
.main__container-faq img{
    width: 75px;
    animation-name: mainfaq;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes mainfaq {
    0%{}
    25%{transform: translateX(100px) translateY(100px);}
    50%{transform: translateX(-110px) translateY(100px);}
75{transform:translateX(-100px) translateY(0px);}
    100%{}
    }







/* MEDIA QUERIES */

/* MEDIA QUERIES 1200px */

/* MEDIA QUERIES 768px */

/* MEDIA QUERIES 568px */
@media (max-width:568px){
    /* MEDIA INDEX HEADER */
    .header__nav{
        width: 50%;
    }
    .main__container-2 img{
        animation-name:caca
    }
    /* MEDIA INDEX MAIN */
    .index__main{
        width: 100%;
    }
.main__container-2 img{
    display:none;
}
.main__container-1{
transform: translateX(130px);
}



    /* MEDIA INDEX FOOTER */

}
/* MEDIA QUERIES 320px */
@media (max-width:320px){
    .main__container-1{
        transform: translateX(82px);
        }
}

